.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #1e1e1e;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #111111;
  padding: 10px 20px;
  flex: 20%;
  border-radius: 15px;
  max-width: 320px;
}

.left > * {
  flex-wrap: wrap;
}

.top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.user_info span {
  color: #ffc148;
  font-weight: 900;
  background: rgba(248, 169, 16, 0.1);
  padding: 8px;
  border-radius: 20px;
  font-size: 12px;
}

.top_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top_info h1 {
  font-size: 18px;
  font-weight: 700;
}

.top_info span {
  color: #a2a2a2;
  font-size: 14px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  padding: 5px 10px;
  border-radius: 20px;
  gap: 5px;
}

.link span {
  font-size: 14px;
  color: #a2a2a2;
}

.left p {
  margin-top: 30px;
  color: #a2a2a2;
  font-size: 16px;
  line-height: 30px;
}

.communities {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.communities span {
  color: #a2a2a2;
  font-size: 14px;
}

.communities_images {
  display: flex;
  gap: 10px;
}

.owned {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.left button {
  margin-top: 30px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  outline: none;
  width: 100%;
  background-color: #111111;
  padding: 15px 0px;
  font-size: 16px;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 80%;
}

.heading {
  font-size: 18px;
  color: #a2a2a2;
}

.right_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.right_bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .left {
    flex: 1;
    justify-content: center;
  }
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right {
    align-items: center;
    justify-content: center;
  }
  .right_top {
    justify-content: center;
  }
}
